* {
    margin: 0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.container{
    width:100%;
    min-height: 100vh;
    background: radial-gradient(#66ab6c, #6485b3);
    padding: 10px;
}


.todo-app{
    width:100%;
    max-width:540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: #6485b3;
    display: flex;
    margin-left: 15px;
    margin-bottom: 20px;
}


.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#66ab6cac;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex:1;
    border:none;
    outline:none;
    background:transparent;
    padding:10px;
}
button {
    border:none;
    outline:none;
    padding: 16px 50px;
    background:#6485b3;
    color:#555;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul.tasks li{
    list-style: none;
    font-size: 17px;
    padding: 16px 8px 12px 50px;
    user-select: none;
    cursor:pointer;
    position:relative;
}
ul.tasks li::before{
    content:"";
    position:absolute;
    height:28px;
    width:28px;
    border-radius: 50px;
    background-image: url(img/circle.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul.tasks li.checked{
    color:#555;
    text-decoration: line-through;

}
ul.tasks li.checked::before{
    background-image: url(img/checked.png);
}

ul.tasks li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul.tasks li span:hover{
    background: #edeef0;
}







.shake {
    animation-name: shake;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(5px);
    }
}
